body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.gridster li {
  list-style: none;
  background-color: #EEE;
  box-shadow: 1px 1px 5px #CCC;
  border: 1px solid #999;
}
